<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Browser" value="Chrome" />
    <add key="Website" value="https://buggy.justtestit.org/" />
    <add key="LoginName" value="ElZilcho" />
    <add key="FirstName" value="Bender B" />
    <add key="LastName" value="Rodriguez" />
    <add key="NewPassword" value="P@ssW0rd" />
    <add key="OldPassword" value="P4$$word" />
    <add key="InfoAddress" value="321 Aotearoa Ave" />
    <add key="InfoGender" value="Robot" />
    <add key="InfoYears" value="30" />
    <add key="InfoPhone" value="1234567890" />
    <add key="InfoHobby" value="Bird-watching" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.0.0" newVersion="3.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>