<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Browser" value="Chrome" />
    <add key="Website" value="https://buggy.justtestit.org/" />
    <add key="FirstName" value="Francisco" />
    <add key="LastName" value="Ferreira" />
    <add key="Password" value="P@ssW0rd" />
    <add key="Userpass" value="P4$$word" />
    <add key="Username" value="Futurama" />
    <add key="Gender" value="Male" />
    <add key="Age" value="30" />
    <add key="Address" value="321 Aotearoa Ave" />
    <add key="Phone" value="1234567890" />
    <add key="Hobby" value="Bird-watching" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.0.0" newVersion="3.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>